

	<!--footer-->
	<div class="container-fluid layout-footer" ng-if="[[show_footer]]">
		
		<div class="row-fluid clearfix" style="margin-top: 20px;margin-bottom: 20px;">

				<div class="col-md-1 column" >
				</div>

				<div class="col-md-10 column" >
					<div class="margin-fix-2" style="text-align: center;" >
						Copyright © hbll.cn 2017 All Rights Reserved 
						&nbsp;&nbsp;&nbsp;&nbsp; 
						京ICP备32088791号 
						&nbsp;&nbsp;&nbsp;&nbsp;
						京公安网备11010204560513
						&nbsp;&nbsp;&nbsp;&nbsp;
						酿喝交流
						
					</div>
				</div>

				<div class="col-md-1 column" >
				</div>

		</div>

	</div>




